.detail-body {
  background-image: url("/images/detail-background-image.jpg");
  background-size: cover;
  font-family:'Russo One', sans-serif;
  color: white;
}

.detail-container { /*parent container*/
  min-height: 100vh; /*this is viewport height, it will need to be 
  smaller when the header partial comes in */
  min-width: 100vw;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.detail-section {
  text-align: center;
  margin: 20px;
}

.detail-title {
  font-size: 40pt; 
}

.detail-image {
  border: solid 4px rgb(218, 210, 210);
  width: 350px;
}
.detail-overview {
  font-family: sans-serif;
  max-width: 500px;
  text-align: justify; /* left and right side of text description aligned*/
}