<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
  <title>Movie Night</title>
</head>
<body class="about-body">
  <%- include('../layout/header') %>
  <main>
    <h1 class="about-title">About Us</h1>
    <section id="about-us-section">
      <div class="about-container">
        <img class="about-us" src="/images/riva.png" alt="Riva Davidowski">
        <p id='name'>Riva Davidowski</p>
          <p class="bio-text">Hello, my name is Riva Davidowski and I’m a Software Engineer. I started learning  Russian when I was a child and since then  I’ve become fascinated with languages. On my journey to find meaningful work, I discovered a love for coding because it presents a similar language challenge.</p>
          <p class="bio-text">I’ve spent most of my professional career solving customer-facing issues and have acquired a diverse set of skills across various industries.. I approach learning with curiosity and I believe that this trait is useful because it allows me to learn new skills quickly.. I’m passionate about problem-solving and approach troubleshooting with the customer’s perspective in mind. This skill along with my passion for understanding the way things work is why I would be an asset to any team.
        </p>
      </div>

      <div class="about-container"> 
        <img class="about-us" src="/images/krystian.png" alt="Krystian Francuz-Harris">
        <p id='name'>Krystian Francuz-Harris</p>
        <p class="bio-text">Hi there, Krystian here! I am currently learning everything it takes to be a software developer at CodeFellows. When I am not bunkered down at my desk, you can find me outside with my four dogs, trying out new Korean restaurants, or playing video games. I have a background in Military Intelligence Operations, and aspire to work in the field of Cybersecurity once I complete my studies at CodeFellows.</p>
      </div>

      <div class="about-container">
        <img class="about-us" src="/images/darius.png" alt="Darius Pasilaban">
        <p id='name'>Darius Pasilaban</p>
        <p class="bio-text">Hello Everyone! I’m Darius Lee Pasilaban. I’m a military veteran with 5 years of professional experience with the US Air Force. And now I’m transitioning to the tech industry as a full-stack software developer with focus on JS and Java. With my background in the military and as a full-stack software developer. I can deliver software solutions both on the front and back end. My military background gives me the advantage of having a mentality to be able to adapt in all situations whatever it takes to complete the mission or target goals. I want to grow my professional skill sets by being part of an organization who develops softwares solutions that help consumers on a global scale.</p>
      </div>

      <div class="about-container">
        <img class="about-us" src="/images/mike.png" alt="Mike Wohl">
        <p id='name'>Mike Wohl</p>
        <p class="bio-text">My name is Mike Wohl, and I'm arriving at software development from a wide-ranging background in many fields. I have previous experience in music, archaeology, sales, public libraries, technical communication, customer service and support. I'm looking forward to the opportunity to develop new skills in the field of technology, and to seeing what doors those skills open.</p>
      </div>
    </section>
  </main>
  <footer>
  </footer> 
</body>
</html>