<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Night</title>
</head>
<body>
  <header>
<!-- Partial -->
  </header>
  <main>
    <h1>About Us</h1>
    <div>
      <img src="https://via.placeholder.com/175" alt="Riva Davidowski">
      <p id='name'>Riva Davidowski</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero non assumenda exercitationem sapiente numquam dolor earum modi, vitae laborum quibusdam, et sed pariatur aliquid magnam, maxime corporis a nemo error. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias vitae dolorem recusandae obcaecati, repellendus doloribus! Earum impedit esse dolores expedita, ea accusantium et soluta, at unde necessitatibus consequuntur. Animi, dignissimos.</p>
    </div>
    <div>
      <img src="https://via.placeholder.com/175" alt="Krystian Francuz-Harris">
      <p id='name'>Krystian Francuz-Harris</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero non assumenda exercitationem sapiente numquam dolor earum modi, vitae laborum quibusdam, et sed pariatur aliquid magnam, maxime corporis a nemo error. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias vitae dolorem recusandae obcaecati, repellendus doloribus! Earum impedit esse dolores expedita, ea accusantium et soluta, at unde necessitatibus consequuntur. Animi, dignissimos.</p>
    </div>
    <div>
      <img src="https://via.placeholder.com/175" alt="Darius Pasilaban">
      <p id='name'>Darius Pasilaban</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero non assumenda exercitationem sapiente numquam dolor earum modi, vitae laborum quibusdam, et sed pariatur aliquid magnam, maxime corporis a nemo error. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias vitae dolorem recusandae obcaecati, repellendus doloribus! Earum impedit esse dolores expedita, ea accusantium et soluta, at unde necessitatibus consequuntur. Animi, dignissimos.</p>
    </div>
    <div>
      <img src="https://via.placeholder.com/175" alt="Mike Wohl">
      <p id='name'>Mike Wohl</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero non assumenda exercitationem sapiente numquam dolor earum modi, vitae laborum quibusdam, et sed pariatur aliquid magnam, maxime corporis a nemo error. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias vitae dolorem recusandae obcaecati, repellendus doloribus! Earum impedit esse dolores expedita, ea accusantium et soluta, at unde necessitatibus consequuntur. Animi, dignissimos.</p>
    </div>
  </main>
  <footer>
  <!-- Partial -->
  </footer> 
</body>
</html>