<!-- header partial here -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/base.css">
  <link rel="stylesheet" href="/layout.css">
  <link rel="stylesheet" href="/modules.css">
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>
<body class="detail-body">
<div class="detail-container">
<h1 class="detail-title detail-section">Beetlejuice (1988)</h1>
<div class="detail-image-container detail-section">
  <img src="/images/test-poster.jpg" class="detail-image">
</div>
<div class="detail-rating detail-section">
  Rating: 73%
</div>
<div class="detail-overview detail-section">
  Thanks to an untimely demise via drowning, a young couple end up as poltergeists in their New England farmhouse, where they fail to meet the challenge of scaring away the insufferable new owners, who want to make drastic changes. In desperation, the undead newlyweds turn to an expert frightmeister, but he's got a diabolical agenda of his own.
</div>

<div class="detail-add detail-section">
  <form action="/detail" method="POST">
    <input type="hidden" name="title" value="">
    <input type="hidden" name="poster" value="">
    <input type="hidden" name="vote_average" value="">
    <input type="hidden" name="overview" value="">
    <input type="hidden" name="release_date" value="">
    <input type="hidden" name="username" value="">
    <input type="submit" class="detail-add-button" value="Add to Watchlist">
  </form>
</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <sript src="detail.ejs"></sript>
</body>
</html>