
/* ================================= homepage styling start */

/* ==================== tag selectors */



/* ==================== id selectors */

/* ==================== class selectors */

/* individual divs for each movie */
.eachMovie{
  /* outline: 2px solid red; */
  width: 250px;
  height: 300px;
  text-align: center;
  margin: 125px 10px;
}

.homepage-body{
  /* outline: 5px solid red; */
  width: 100%;
  font-family:'Russo One', sans-serif;
  background-image: url("/images/detail-background-image.jpg");
  background-size: cover;

}

.homepage-h1{
  font-size: 50pt;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  color: white;
  margin-top: 50px;
}

.homepage-imgs{
  width: 100%;
  height: 100%;
  /* source: https://www.w3schools.com/css/css3_shadows_box.asp  */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.homepage-container{
  /* outline: 2px solid orange; */
  margin: 100px auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 0;
  opacity: 0.9;

} 

/* ================================= homepage styling end */

