.detail-body {
  background-image: url("/images/detail-background-image.jpg");
  background-size: cover;
  font-family:'Russo One', sans-serif;
  color: white;
}

.detail-container { /*parent container*/
  min-height: calc(100vh - 140px); /*this is viewport height, it will need to be smaller when the header partial comes in. This is saying the the minimum height will be 100vh minus some pixels. So when the header comes in, change the 0px to the header size. */
  min-width: 100vw;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 48px;
} 

.detail-section {
  text-align: center;
  margin: 20px;
}

.detail-title {
  font-size: 40pt; 
}

.detail-image {
  border: solid 4px rgb(218, 210, 210);
  width: 350px;
}
.detail-overview {
  font-family: sans-serif;
  max-width: 500px;
  text-align: justify; /* left and right side of text description aligned*/
  color: #bbbbbb;
}
.detail-add-button {
  width: 260px;
  height: 60px;
  border: solid 2px rgb(230, 222, 222);
  background-color: rgba(25, 25, 25, 0.4);
  color: rgb(230, 222, 222);
  padding: 8px 20px;
  font-size: 20px;
  cursor: pointer;
}

.detail-add-button:hover{
  border-color:rgb(31, 174, 231);
  color:rgb(31, 174, 231);
  background-color: black;
}

/* DETAILS.EJS PAGE CODE ABOVE BY RIVA ************************************************/


.header-container {
  height: 140px;
  width: calc(100vw - 24px);
  /* there is a padding of 12 px left and right so
  reduce width by 24px*/
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 0 12px;
  align-items: center;
  box-sizing: border-box;
  background-color:rgba(32,32,32,0.8);
  border-bottom:solid 1px rgb(31, 174, 231);
  margin-bottom: 24px;
}

.header-logo {
  height: 120px;
}

.nav-link {
  color: rgb(230, 222, 222);
}

.nav-link:hover {
  color:rgb(31, 174, 231);
}
/*********************** HEADER.EJS CODE ABOVE BY RIVA */

#name {
  font-size: 20px;
  line-height: 25px;
  height: 150px;
  margin-top: 15px;
}

.about-container {
  max-width: 500px;
  font-family: 'Russo One', sans-serif;
  display: inline-block !important;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  background-color:rgba(32,32,32,0.8);
  border: solid 1px rgb(31, 174, 231);
  padding: 10px;
}
.about-title {
  font-size: 40pt;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  -webkit-text-stroke: 2px rgb(31, 174, 231);;
}
/**********************************ABOUT.EJS STYLING ABOVE BY RIVA*/

.footer {
  box-sizing: border-box;
  height: 80px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(242, 242, 243, 0.945);
  /* margin: 5px 0; */
  position: fixed;
  bottom:0; left:0; right:0;
  border-top: solid 2px rgb(31, 174, 231);

}

.footer-mn-logo{
  width: 80px;
  float: left;
  padding: 0 10px;
  padding-top: 18px;
  line-height: 80px;
}

.footer-text{
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 900;
  display: inline;
  letter-spacing: 0.1em;
  line-height: 80px;
}

.footer-tmbd-logo{
  width: 80px;
  float: right;
  padding: 0 10px;
  padding-top: 23px;
  line-height: 80px;
}

/* ****************** ABOUT.EJS CODE ABOVE BY RIVA */


.watchlist-body {
  background-image: url("/images/detail-background-image.jpg");
  background-size: cover;
  font-family:'Russo One', sans-serif;
  color: white;
}

.watchlist-container {

  min-width: 100vw;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 48px;
}

.watchlist-section {
  text-align: center;
  margin: 20px;
}

.watchlist-title {
  font-size: 40pt; 
}

.watchlist-image {
  justify-content:center;
  border: solid 4px rgb(218, 210, 210);
  width: 350px;

}
.watchlist-delete-button {
  width: 260px;
  height: 60px;
  border: solid 2px rgb(230, 222, 222);
  background-color: rgba(25, 25, 25, 0.4);
  color: rgb(230, 222, 222);
  padding: 8px 20px;
  font-size: 20px;
  cursor: pointer;
}

.watchlist-delete-button:hover{
  border-color:rgb(31, 174, 231);
  color:rgb(31, 174, 231);
  background-color: black;
}

/******************* WATCHLIST.EJS CODE ABOVE BY RIVA /*


/**************** Mike Code starts below */
.about-body {
  background-image: url("/images/detail-background-image.jpg");
  background-size: cover;
  font-family:'Russo One', sans-serif;
  color: white;
}

.about-us {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 15px;
  border: solid 1px rgb(31, 174, 231);
  border-radius: 50%;

}

.bio-text {
  text-indent: 2em;
  margin-top: 15px;
}


/******************* ABOUT.EJS CODE ABOVE BY RIVA & MIKE /*

