<footer class="footer">
  <div>
    <img src="/images/movienight-logo.png" alt="Movie Night Logo" class="footer-mn-logo">
    <p class="footer-text"> Created by Team Squirtle.</p>
    <p class="footer-text">
      "This product uses the TMDb API but is not endorsed or certified by TMDb."
    </p>
    <img src="/images/TMDBlogo.svg" alt="TMDB Logo" class="footer-tmbd-logo">
  </div>
</footer>

