<footer>
  <div>
    <img src="https://via.placeholder.com/25" alt="TMDB Logo">
    <p>
      "This product uses the TMDb API but is not endorsed or certified by TMDb."
    </p>
    <img src="https://via.placeholder.com/25" alt="TMDB Logo">
  </div>
</footer>

<!-- Insert into Body -->
<!-- <%- include('../layout/footer') %> -->