<footer class="footer">
    <img src="/images/movienight-logo.png" alt="Movie Night Logo" class="footer-mn-logo">
    <p class="footer-text"> Created by Team Squirtle.</p>
    <p class="footer-text">
      "This product uses the TMDb API but is not endorsed or certified by TMDb."
    </p>
    <img src="/images/TMDBlogo.svg" alt="TMDB Logo" class="footer-mn-logo">
</footer>

<!-- We had a div wrapping the child elements in a flex container (class=footer) so 
the flex only saw one little child to lay out. So I removed the div. I used flex to lay these out instead.-->