<footer class="footer">
    <img src="/images/movienight-logo.png" alt="Movie Night Logo" class="footer-mn-logo">
    <p class="footer-text">
      Created by Team Squirtle.
      This product uses the TMDb API but is not endorsed or certified by TMDb.
    </p>
    <img src="/images/TMDBlogo.svg" alt="TMDB Logo" class="footer-mn-logo">
</footer>
