<header class="header-container">
  <a href="/detail">
      <img src="/images/movienight-logo.png" class="header-logo">
    </a>
      <nav class="header-nav">
        
      <a  href="/about" class="nav-link">About Us</a>
  </nav>
   
</header>

