<header>
  <nav>
    <ul>
      <li><a  href="/">Movie Night</a></li>
      <li><a  href="/about.ejs">About Us</a></li>
    </ul>
    <ul>
      <!-- Figure out how to make Username dynamic  -->
      <!-- <li> Hello <%= movie.username %>! </li>  -->
      <li> Hello Username</li> 
      <li> <a href="/watchlist.ejs">My Watchlist</a></li>
    </ul>
  </nav>
</header>

<!-- Insert into Body -->
<!-- <%- include('../layout/header') %> -->